.intro-container {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 50vh;
    width: 45vw;
    top: 60%;
    left: 50%;
}
.glitch{
    color: rgba(255, 255, 255, 0);
    animation: glitch 5s 5s infinite;
    letter-spacing: 22px;
    font-size: 3.5vw;
    font-weight: bold;
}
.glitch::before {
    content: attr(data-text);
    position: absolute;
    text-shadow: -3px 0 rgb(27, 210, 33);
    animation: noise-1 1s linear infinite alternative-reverse, glitch 1s 1.05s infinite;
    font-style: oblique;

}
.glitch::after {
    content: attr(data-text);
    font-style:oblique;
    position: absolute;
    text-shadow: 3px 0 rgba(3, 255, 11, 0.441);
    right: 22%;
    font-weight: bold;
    animation: noise-2 4s linear infinite alternate-reverse, glitch 2s 2s infinite;
}
@keyframes glitch{
    1%{
        transform: rotateX(10deg) skewX(90deg);
    }
    2%{
        transform: rotateX(0deg) skewX(0deg);
    }
}
@keyframes noise-1 {
    $steps: 30;
    @for $i from 1 through $steps {
        #{percentage($i *( 1 / $steps))} {
            $top: random(100);
            $bottom: random( 101 - $top);
            clip-path: inset(#{$top}px 0 #{$bottom}px 0);
        }
    }
}
@keyframes noise-2 {
    $steps: 30;
    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            $top: random(100);
            $bottom: random(101 - $top);
            clip-path: inset(#{$top}px 0 #{$bottom}px 0 );
        }
    }
}
// .scanlines { 
//     overflow: hidden;
//     mix-blend-mode: difference;
// }
// .scanlines::before {

//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;

//     background: repeating-linear-gradient(
//         to bottom,
//         transparent 0%,
//         // rgba(255, 255,255, 0.05) .5%,
//         transparent 1%
//     );
//     animation: fudge 7s ease-in-out alternate infinite;
// }
// @keyframes fudge {
//     from {
//         transform: translate(0px, 0px);
//     }
//     to {
//         transform: translate(0px, 2%);
//     }
// }
// .glow {
//     @extend .glitch;
//     text-shadow: 0 0 1000px rgb(233, 191, 191);
//     color: transparent;
//     position: absolute;
//     top: 50%;
// }
.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 1.25vw;
    color: rgba(255, 255, 255, 0.845);
    text-transform: uppercase;
    letter-spacing: 1.25em;
    position: absolute;
    top: 40%;
    animation: glitch-2 5s 5.02s infinite;
    font-weight: bold;
}
@keyframes glitch-2 {
    1%{
        transform: rotateX(10deg) skewX(70deg);
    }
    2%{
        transform: rotateX(0deg) skewX(0deg);
    }
}
@-moz-keyframes glitch-2{
    1%{
        transform: rotateX(10deg) skewX(70deg);
    }
    2%{
        transform: rotateX(0deg) skewX(0deg);
    }
}